/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --primary-hover-background: #f8f8f8;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: var(--color-outer-space);
  --border-color: #d8d8d8;
  --divider-border-color: #cecece;
  --color-outer-space: #454545;
  --color-dark-silver: #717171;
  --color-red-pigment: #ed1c24;
  --color-white: #fff;
  --color-deep-green: #056808;
  --color-granite-gray: #666;
  --color-dark-charcoal: #333;
  --color-persian-red: #cb3232;
  --color-cultured: #f8f8f8;
  --color-platinum: #e3e3e3;
  --color-chinese-silver: #ccc;
  --color-gray: #7a7d81;
  --color-light-silver: #d8d8d8;

  /* fonts */
  --body-font-family: 'proxima-nova', roboto-fallback;
  --heading-font-family: 'goudy-old-style', 'proxima-nova', roboto-fallback;
  --fixed-font-family: 'proxima-nova', 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --icons-font-family: 'visual-comfort-icons', sans-serif;

  /* body sizes */
  --body-font-size-xxxl: 28px;
  --body-font-size-xxl: 26px;
  --body-font-size-xl: 24px;
  --body-font-size-l: 22px;
  --body-font-size-m: 20px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;
  --body-font-size-xxs: 14px;
  --body-font-size-xxxs: 12px;
  --body-font-size-xxxxs: 10px;

  /* odd sizes */
  --body-odd-font-size-xxxs: 13px;
  --body-odd-font-size-xxs: 15px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 55px;
  --mobile-nav-height: 55px;
  --small-mobile-nav-height: 55px;
  --medium-mobile-nav-height: 35px;

  font-size: 62.5%;
}

@media screen and (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

@media screen and (width >= 1280px) {
  :root {
    --nav-height: 117px;
  }
}

/* font fallbacks */
@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@font-face {
  font-family: proxima-nova-fallback;
  size-adjust: 97.57%;
  src: local('Arial');
}

@font-face {
  font-family: goudy-old-style-fallback;
  size-adjust: 98.439%;
  src: local('Times New Roman');
}

*,
*::before,
*::after {
  /* box-sizing: border-box; */
}

body {
  font-size: var(--body-font-size-xs);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

body[data-scroll='disabled'] {
  overflow-y: hidden;
}

header {
  height: var(--nav-height);
}

@media screen and (width >= 1280px) {
  header {
    padding-top: 48px;
  }
}

@media screen and (width <= 1279px) {
  header {
    padding-top: 60px;
  }
}

/* sections */
main .section {
  padding: 30px 15px;
  box-sizing: border-box;
}

main .section br {
  display: none;
}

@media screen and (width >= 600px) {
  main .section:not(.hero-container) {
    padding: 70px 100px;
  }

  main .section.hero-container {
    padding: 0;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

main .section.background-gray {
  background-color: var(--color-cultured);
}

main .section.top-border {
  padding-top: 0;
}

main .section.top-border::before {
  content: '';
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  padding-top: 70px;
  max-width: 1400px; /* Change this to whatever width you want. */
  width: 100%; /* This will make the border take the full width of its container. */
  border-top: 1px solid var(--divider-border-color); /* This creates the border. Replace black with whatever color you want. */
}

main .section.bottom-border {
  padding-bottom: 0;
}

main .section.bottom-border::after {
  content: '';
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  padding-bottom: 70px;
  max-width: 1400px; /* Change this to whatever width you want. */
  width: 100%; /* This will make the border take the full width of its container. */
  border-bottom: 1px solid var(--divider-border-color); /* This creates the border. Replace black with whatever color you want. */
}

.no-scroll {
  overflow-y: hidden;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  top: -1000px;
  width: 1px;
}

.skip-link:focus {
  background-color: #f0f0f0;
  box-shadow: 0 0 3px 1px #c8c8c8;
  clip: auto;
  color: #454545;
  font-size: var(--body-font-size-xxs);
  height: auto;
  left: 2px;
  line-height: 1;
  padding: 10px;
  position: fixed;
  right: 2px;
  text-align: center;
  text-decoration: none;
  top: 2px;
  width: auto;
  z-index: 1000;
}

/* images and icons */
p.img-wrapper {
  margin: 0;
  line-height: 0;
}

img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.icon-wrapper {
  line-height: 0;
}

.icon svg,
.icon img {
  width: 1em;
  height: 1em;
  fill: currentcolor;
  color: currentcolor;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 1rem;
  scroll-margin: calc(var(--nav-height) + 1em);
  text-align: center;
  word-break: break-word;
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p,
ol,
ul,
dl,
pre,
blockquote {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

pre,
code,
kbd,
samp,
var {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

code,
kbd,
samp,
var {
  padding: 0.125em;
}

u {
  text-decoration: none;
}

/* links */
a:any-link {
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

a:focus {
  /* outline: var(--border-m) solid var(--color-link);
  outline-offset: var(--border-m); */
}

/* buttons */
.button-wrapper {
  /* display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s); */
}

a.button,
button.button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 14px 0;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  color: var(--text-color);
  text-transform: uppercase;
}

a.button:hover,
button.button:hover,
button.button:focus {
  text-decoration: underline;
  cursor: pointer;
}

button.button:disabled,
button.button:disabled:hover,
button.button:disabled:focus {
  background-color: var(--light-color);
  cursor: not-allowed;
}

a.button.button-primary,
button.button.button-primary,
a.button.button-secondary,
button.button.button-secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

a.button.button-primary,
button.button.button-primary {
  text-decoration-line: none;
  text-decoration-style: solid;
  border: solid 1px #333;
  background-color: #fff;
  font-weight: 800;
  line-height: 20px;
  height: 45px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  width: 130px;
  justify-content: center;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: var(--body-font-size-xxxs);
}

a.button.button-primary:hover,
button.button.button-primary:hover,
button.button.button-primary:focus {
  background-color: var(--primary-hover-background);
  text-decoration: none;
}

/* form elements */
input,
textarea,
select,
button {
  /* max-width: 100%; */

  /* font: inherit; */

  /* transition: border-color 0.2s; */
}

input,
textarea,
select {
  /* width: 100%; */

  /* border: var(--border-m) solid var(--gray-300); */

  /* border-radius: var(--rounding-m); */

  /* padding: 0.4em 0.85em; */

  /* color: var(--color-text); */
}

button,
fieldset {
  /* appearance: none; */

  /* margin: 0; */

  /* border: 0; */

  /* padding: 0; */

  /* background-color: transparent; */
}

label {
  /* display: block; */

  /* margin-bottom: 0.5em; */
}

label,
legend,
.field-help-text,
.form-error {
  /* color: var(--gray-700); */

  /* font-size: var(--body-size-m); */
}

input:hover,
textarea:hover,
select:hover {
  /* border-color: var(--gray-400); */
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  /* outline: var(--border-m) solid var(--color-link); */

  /* outline-offset: var(--border-m); */

  /* border-color: var(--color-text); */

  /* color: var(--gray-900); */
}

input:disabled,
input:hover:disabled,
input:focus:disabled,
textarea:disabled,
textarea:hover:disabled,
textarea:focus:disabled,
select:disabled,
select:hover:disabled,
select:focus:disabled {
  /* border-color: var(--gray-100); */

  /* background-color: var(--color-background); */

  /* color: var(--gray-400); */
}

input[readonly],
textarea[readonly],
select[readonly] {
  /* border-color: var(--gray-300) */
}

input[readonly]:focus,
textarea[readonly]:focus,
select[readonly]:focus {
  /* outline: 0; */
}

input[type='checkbox'],
input[type='radio'] {
  /* width: unset; */
}

.form-field + .form-field {
  /* margin-top: var(--spacing-l); */
}

.form-error {
  /* margin-top: 0.5em; */

  /* color: var(--red-900); */
}

.field-help-text {
  /* margin-top: 0.5em; */
}

.field-help-text p {
  /* margin: 0; */
}


.our-collection p, h3 {
  margin-right: 13%;
  margin-left: 13%;
  text-align: center;
  color: #454545;
  word-wrap: break-word;
}

.our-collection p {
  padding-top: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4286;
  font-size: 1.4rem;
}

.our-collection.no-link-text p {
  margin-right: 0;
  margin-left: 0;
  text-align: left;
}

.our-collection h2 {
  font-family: goudy-old-style, serif;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: normal;
  letter-spacing: 0;
  color: #454545;
}

.our-collection h3 {
  font-style: normal;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1.2px;
  margin-bottom: 50px;
}

.error h1 {
  font-family: goudy-old-style, serif;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 3.8rem;
  letter-spacing: 0;
  color: #454545;
  text-align: left;
}

.error h2 {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 0;
  color: #454545;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  text-align: left;
}

@media (width >= 1024px), print {
  .page-wrapper {
    border-top: 4px solid #e3e3e3
  }
}
